#clockcontainer{
    position: relative;
    margin: auto;
   
    height: 32vw;
    width: 32vw;
    background: url(clock1.png)no-repeat;
    background-size: 100%;
    

}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.8%;
 
}
#minute{
    width: 1.6%;
    height: 32%;
    top: 18%;
    left: 48.8%;
    opacity: 0.8;

}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.5%;
    opacity: 0.8;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: absolute;
    top: 4px;
    padding: 0;
    margin: 0;
    width: 88%;
    left: 64px;
  }